/* ChangePassword.css */
.account-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.sidebar ul li button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.sidebar ul li button:hover {
  background-color: #e53935;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.main-content input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box; 
}
.main-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content label {
  font-size: 16px;
}

.main-content input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.main-content button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  width: 400px;
}

.main-content button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.main-content button:hover:enabled {
  background-color: #45a049;
}

.main-content p {
  color: #f44336;
  font-size: 16px;
  margin-top: 20px;
}
