.account-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a,
.sidebar ul li button {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.orders-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 20px;
}

.orders-container {
  flex: 2;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-search-bar{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  padding-right: 10px; /* To avoid cutting off scrollbar */
}

/* Optional: Customize scrollbar */
.orders-list::-webkit-scrollbar {
  width: 8px;
}

.orders-list::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.orders-list::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}


.order-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-card p {
  margin: 5px 0;
  color: #555;
  line-height: 1.5;
}

.order-card p strong {
  color: #333;
}

.filters {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters h3 {
  margin-bottom: 10px;
}

.filters button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 5px;
}

.filters button:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .orders-wrapper {
    flex-direction: column;
  }
  
  .filters {
    margin-top: 20px;
  }
}
